[user]
	name = Anshul Bajpai
	email = bajpai.anshul@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[push]
	default = simple
[credential]
	helper = osxkeychain
[core]
	autocrlf = input
	pager = cat
[rerere]
	enabled = true
[rebase]
	autostash = true
[diff]
	submodule = log
[status]
	submodulesummary = 1
[pager]
	diff = true
	log = true
